.loader {
	--ease: cubic-bezier(0.8, 0, 0.2, 1);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 2em;
	font-weight: 300;
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 3px;
	background-image: radial-gradient(
			35vh at 100% 100%,
			#9642f215,
			transparent 300%
		),
		radial-gradient(35vh at 0% 0%, #9642f21c, transparent 300%),
		radial-gradient(40vh at 70% 18%, #0c091052, transparent 150%),
		radial-gradient(64vh 45vh at -8% 100%, #9642f226, transparent 178%),
		radial-gradient(64vh 45vh at -8% 100%, #9642f222, transparent 138%),
		radial-gradient(64vh 45vh at -8% 100%, #9642f215, transparent 71%),
		radial-gradient(64vh 45vh at -8% 100%, #9642f210, transparent 52%),
		radial-gradient(45vh at 68% 2%, #9642f220, transparent 141%),
		radial-gradient(45vh at 68% 2%, #9642f215, transparent 111%),
		radial-gradient(45vh at 68% 2%, #9642f20f, transparent 87%),
		radial-gradient(45vh at 68% 2%, #9642f209, transparent 57%),
		radial-gradient(45vh at 68% 2%, #9642f20f, transparent 111%),
		radial-gradient(45vh at 95% 42%, #9642f207, transparent 87%),
		radial-gradient(45vh at 95% 42%, #9642f202, transparent 69%);

	&__start {
		margin: 0.3em;
	}

	&__end {
		margin: 0.3em;
	}

	&__design-letter--wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.5em;
		height: 1.5em;
		color: $blue;
	}

	&__design-letter--border {
		position: absolute;
		width: 1.5em;
		height: 1.5em;
		border: 1px solid $blue;
		animation: loader-border 5000ms var(--ease) infinite;
	}

	&__design-letter {
		animation: loader-letter 5000ms var(--ease) infinite;
	}
}

@keyframes loader-border {
	0% {
		transform: rotate(0deg);
		border-color: $blue;
	}
	50% {
		transform: rotate(-92deg);
		border-color: $red;
	}
	100% {
		transform: rotate(-180deg);
		border-color: $blue;
	}
}

@keyframes loader-letter {
	0% {
		color: $blue;
	}
	50% {
		color: $red;
	}
	100% {
		color: $blue;
	}
}
