@import './react_picker_date.scss';
@import './react_select.scss';

.home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15vh 7vw 8vh 7vw;
	&__header {
		position: relative;
		align-self: flex-end;
		display: flex;
		flex-direction: column;
		h1 {
			position: relative;
			font-size: 120px;
			font-weight: 400;
			color: var(--white);
			line-height: 80%;
			opacity: 0.99;
			// opacity: 0;
			// animation: var(--anim-op-05s);
			&::after {
				content: attr(data-text);
				width: max-content;
				position: absolute;
				top: -47%;
				left: -14%;
				font-size: 1em;
				font-weight: 900;
				background-image: linear-gradient(to top, #2a2048, transparent);
				background-clip: text;
				-webkit-text-fill-color: transparent;
				z-index: -1;
			}
		}
		.help {
			position: relative;
			align-self: center;
			left: -10%;
			color: var(--red);
			font-size: var(--h3);
			font-weight: 400;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin: 4vh 0 8vh 0;
			filter: drop-shadow(10% 23px 5vw var(--red));
			// opacity: 0;
			// animation: var(--anim-op-05s) var(--anim-op-delay1);
			&::before {
				content: '';
				position: absolute;
				bottom: 20%;
				left: 110%;
				height: 1px;
				width: 100%;
				background-color: var(--red);
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 25%;
				left: -8%;
				height: 50%;
				width: 120%;
				background-color: var(--red);
				filter: blur(54px);
			}
		}
		.description {
			position: relative;
			left: 6%;
			// opacity: 0;
			// animation: var(--anim-op-05s) var(--anim-op-delay2);
			h2 {
				font-size: var(--h3);
				color: var(--white);
				font-weight: 500;
				line-height: 50%;
				margin-bottom: 1em;
			}
			p {
				font-size: var(--p);
				font-weight: 500;
				line-height: 130%;
				color: var(--paragraf);
			}
		}
	}
	&__search {
		position: relative;
		width: 100%;
		height: 10vh;
		display: flex;
		align-items: center;
		// opacity: 0;
		// animation: var(--anim-op-05s) var(--anim-op-delay3);
		.tools {
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			background-color: #3c3a674f;

			.tools__geo,
			.react-datepicker-wrapper {
				height: 70%;
				width: calc(100% / 3);
				cursor: pointer;

				&:hover {
					p:not(.error) {
						color: #9c89c0;
					}
					svg {
						fill: #e4d1f5;
					}
				}
			}
			.react-datepicker-wrapper {
				.react-datepicker__input-container {
					height: 100%;
					width: 100%;
					display: table;
				}
			}

			.tool {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-right: 2px solid #363452;
				p {
					margin-left: 2em;
					font-size: var(--p);
					font-weight: 500;
					letter-spacing: 0.02em;
					text-transform: capitalize;
					color: #7a6b96;
					transition: color 0.3s;
				}
				svg {
					margin-right: 2em;
					position: relative;
					width: 0.2em;
					top: -0.1em;
					fill: var(--white);
				}
				.error {
					position: absolute;
					bottom: 11vh;
					color: var(--red);
					font-weight: lighter;
					cursor: default;
				}
			}
			//   &__geo {
			//   }
			&__up-date {
				height: 100%;
			}
			& > div + div + div:not(.react-datepicker-wrapper) {
				--home-calendar-left: 50%;
			}
			& > div + div + div + div:not(.react-datepicker-wrapper) {
				--home-calendar-left: calc(100% / 6 * 5);
			}
			&__return-date {
				height: 100%;
				border: none !important;
			}
		}
		.btn-search {
			position: relative;
			height: 100%;
			width: 12vw;
			min-width: 20vh;
			border: none;
			cursor: pointer;
			background: transparent;
			&__inner {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--blue);
				background-image: radial-gradient(
					100px at 100% 60%,
					#311ca1,
					transparent 267%
				);
				font-size: var(--p);
				font-weight: 500;
				text-transform: uppercase;
				color: var(--white);
			}
			/* keyboard-only focus */
			&:hover,
			&:focus {
				.btn-search__inner {
					background-color: var(--purple);
					background-image: radial-gradient(
						100px at 100% 60%,
						#23113fab,
						transparent 267%
					);
					box-shadow: 0px 0px 3vh 0px #201131d3;
				}
			}
			/* keyboard-only focus */
			&:focus {
				.btn-search__inner {
					--blue: var(--purple);
					outline: var(--focus-outline);
					outline-offset: 1px;
				}
			}
			&:focus,
			&__inner:focus {
				outline: none;
			}
		}
	}
}
