.home__search .tools {
  .select-menu {
    position: absolute;
    left: 0;
    bottom: 11vh;
    width: calc(100% / 3);
    // height: 50vh;
    color: #dad5df;
    font-weight: 300;
    background-color: #221e3c;
    background-image: radial-gradient(
      75vmin at 100% 100%,
      #0f0c1a,
      transparent
    );
    z-index: 2000;
    &__header {
      padding: 1em;
      font-weight: 500;
      font-size: var(--p);
      background-image: radial-gradient(
        88vmin at 0% 50%,
        #423c6e61,
        transparent
      );
    }
    &__list {
      list-style: none;
      min-height: 2em;
      &__item {
        font-size: 0.875em;
        font-weight: 300;
        color: var(--white);
        cursor: pointer;
        span {
          font-weight: 500;
          padding: 1em 1.4em;
          display: block;
        }

        &[data-active="false"] {
          cursor: default;
          span {
            color: #b2a3c026;
          }
          &:hover {
            background: none;
          }
        }
        &:hover,
        &[data-selected="true"] {
          background-image: radial-gradient(
            88vmin at 0% 50%,
            #423c6e61,
            transparent
          );
        }
      }
    }
    &__no-value {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em;
    }
  }
}

.home-tools__dropdown {
  .menu {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1),
      0 4px 11px hsla(218, 50%, 10%, 0.1);
    left: 10%;
    width: calc(100% / 3);
    bottom: 15vh;
    position: absolute;
    z-index: 20000;
  }
}
