.bg-services {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  animation: var(--anim-op-05s);
  &__gradient {
    position: absolute;
    will-change: background-image;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        54vh at 7% 63%,
        #08041163,
        transparent 103%
      ),
      radial-gradient(
        100vh at 4% -18%,
        #6149e180 6%,
        #6149e17a 12%,
        #6149e112 32vw,
        #15102700 46vw
      ),
      radial-gradient(
        84vh at 100% 100%,
        #6149e170 -1%,
        #6149e15c 22%,
        #6149e147 39%,
        #6149e138 50%,
        #6149e114 86%,
        #1a102700 124%
      ),
      linear-gradient(
        115deg,
        #000000,
        #09070efa 33vh,
        #0f0920eb 55vh,
        #0f0920c7 68vh,
        #0f09209e 76vh,
        transparent 114vh
      );
  }
  &__car {
    position: absolute;
    filter: drop-shadow(127px 23px 5vw #6149e12b);
    bottom: -30px;
    left: -218px;
    transform: scale(0.8);
    // animation: anim-car 0.5s ease-in-out;
    opacity: 1;
    // animation: var(--anim-op-05s) 2.5s;
  }
}
