.home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15vh 7vw 8vh 7vw;

	// &__header {
	// 	position: relative;
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-self: flex-end;

	// 	h1 {
	// 		position: relative;
	// 		font-size: 120px;
	// 		font-weight: 400;
	// 		color: var(--white);
	// 		line-height: 80%;
	// 		opacity: 0.99;

	// 		&::after {
	// 			content: attr(data-text);
	// 			width: max-content;
	// 			position: absolute;
	// 			top: -47%;
	// 			left: -14%;
	// 			font-size: 1em;
	// 			font-weight: 900;
	// 			background-image: linear-gradient(to top, #2a2048, transparent);
	// 			background-clip: text;
	// 			-webkit-text-fill-color: transparent;
	// 			z-index: -1;
	// 		}
	// 	}

	// 	.help {
	// 		position: relative;
	// 		align-self: center;
	// 		left: -10%;
	// 		color: var(--red);
	// 		font-size: var(--h3);
	// 		font-weight: 400;
	// 		letter-spacing: 1px;
	// 		text-transform: uppercase;
	// 		margin: 4vh 0 7vh 0;

	// 		// right line
	// 		&::before {
	// 			content: '';
	// 			position: absolute;
	// 			bottom: 20%;
	// 			left: 110%;
	// 			height: 1px;
	// 			width: 100%;
	// 			background-color: var(--red);
	// 		}

	// 		// text shadow
	// 		&::after {
	// 			content: '';
	// 			position: absolute;
	// 			bottom: 25%;
	// 			left: -8%;
	// 			height: 50%;
	// 			width: 120%;
	// 			background-color: var(--red);
	// 			filter: blur(54px);
	// 		}
	// 	}

	// 	.description {
	// 		position: relative;
	// 		left: 6%;

	// 		h2 {
	// 			font-size: var(--h3);
	// 			color: var(--white);
	// 			font-weight: 500;
	// 			margin-bottom: 0.5em;
	// 		}

	// 		p {
	// 			font-size: var(--p);
	// 			font-weight: 500;
	// 			line-height: 130%;
	// 			color: var(--paragraf);
	// 		}
	// 	}
	// }

	&__search {
	

		.tools {
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			background-color: #3c3a674f;

			.tools__geo,
			.react-datepicker-wrapper {
				height: 70%;
				width: calc(100% / 3);
				cursor: pointer;

				&:hover {
					p:not(.error) {
						color: #9c89c0;
					}

					svg {
						fill: #e4d1f5;
					}
				}
			}

			.react-datepicker-wrapper {
				.react-datepicker__input-container {
					height: 100%;
					width: 100%;
					display: table;
				}
			}

			.tool {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-right: 2px solid #363452;

				p {
					margin-left: 2em;
					font-size: var(--p);
					font-weight: 500;
					letter-spacing: 0.02em;
					text-transform: capitalize;
					color: #7a6b96;
					transition: color 0.3s;
				}

				svg {
					margin-right: 1em;
					position: relative;
					width: 1.5em;
					fill: var(--white);
				}

				.error {
					position: absolute;
					bottom: 11vh;
					color: var(--red);
					font-weight: lighter;
					cursor: default;
				}
			}

			//   &__geo {
			//   }
			&__up-date {
				height: 100%;
			}

			& > div + div + div:not(.react-datepicker-wrapper) {
				--home-calendar-left: 50%;
			}

			& > div + div + div + div:not(.react-datepicker-wrapper) {
				--home-calendar-left: calc(100% / 6 * 5);
			}

			&__return-date {
				height: 100%;
				border: none !important;
			}
		}

		// .btn-search {
		// 	position: relative;
		// 	height: 100%;
		// 	width: 12vw;
		// 	min-width: 20vh;
		// 	border: none;
		// 	cursor: pointer;
		// 	background: transparent;

		// 	&__inner {
		// 		height: 100%;
		// 		display: grid;
		// 		place-content: center;
		// 		background-color: var(--blue);
		// 		background-image: radial-gradient(
		// 			100px at 100% 60%,
		// 			#311ca1,
		// 			transparent 267%
		// 		);
		// 		font-size: var(--p);
		// 		font-weight: 500;
		// 		text-transform: uppercase;
		// 		color: var(--white);
		// 	}

		// 	/* keyboard-only focus */
		// 	&:hover,
		// 	&:focus {
		// 		.btn-search__inner {
		// 			background-color: var(--purple);
		// 			background-image: radial-gradient(
		// 				100px at 100% 60%,
		// 				#23113fab,
		// 				transparent 267%
		// 			);
		// 			box-shadow: 0px 0px 3vh 0px #201131d3;
		// 			outline: var(--focus-outline);
		// 			outline-offset: 1px;
		// 		}
		// 	}

		// 	&:focus,
		// 	&__inner:focus {
		// 		outline: none;
		// 	}
		// }
	}
}

.home__search .tools {
	.select-menu {
		position: absolute;
		left: 0;
		bottom: 11vh;
		width: calc(100% / 3);
		// height: 50vh;
		color: #dad5df;
		font-weight: 300;
		background-color: #221e3c;
		background-image: radial-gradient(
			75vmin at 100% 100%,
			#0f0c1a,
			transparent
		);
		z-index: 2000;

		&__header {
			padding: 1em;
			font-weight: 500;
			font-size: var(--p);
			background-image: radial-gradient(
				88vmin at 0% 50%,
				#423c6e61,
				transparent
			);
		}

		&__list {
			list-style: none;
			min-height: 2em;

			&__item {
				font-size: 0.875em;
				font-weight: 300;
				color: var(--white);
				cursor: pointer;

				span {
					font-weight: 500;
					padding: 1em 1.4em;
					display: block;
				}

				&[data-active='false'] {
					cursor: default;

					span {
						color: #b2a3c026;
					}

					&:hover {
						background: none;
					}
				}

				&:hover,
				&[data-selected='true'] {
					background-image: radial-gradient(
						88vmin at 0% 50%,
						#423c6e61,
						transparent
					);
				}
			}
		}

		&__no-value {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1em;
		}
	}
}

.home-tools__dropdown {
	.menu {
		background-color: white;
		border-radius: 4px;
		box-shadow: 0 0 0 1px hsla(218, 50%, 10%, 0.1),
			0 4px 11px hsla(218, 50%, 10%, 0.1);
		width: calc(100% / 3);
		position: absolute;
		bottom: 15vh;
		left: 10%;
		z-index: 20000;
	}
}
