.navbar {
	grid-area: navbar;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 2.5vw;
	align-self: flex-end;
	z-index: 2000;

	@import './logo.scss';
	@import './nav.scss';
	@import './hamburger.scss';
}
