.bg-home {
	&__gradient {
		position: absolute;
		// will-change: background-image;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-image: radial-gradient(
				100vh at 94% 94%,
				#9642f212,
				transparent 53%
			),
			radial-gradient(100vh at 0% 100%, #9642f230, transparent 100%),
			radial-gradient(100vh at 49% 18%, #9642f226, transparent 65%);
		.rigth-bottom {
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translate(-10%, 40%) rotate(-20deg);
			width: 13vw;
			height: 50vh;
			background-color: var(--blue);
			filter: blur(77px) opacity(0.3);
		}
		.left-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translate(-10%, 40%);
			width: 70vh;
			height: 70vh;
			background-color: var(--blue);
			filter: blur(181px) opacity(0.25);
		}
		.center-top {
			position: absolute;
			left: 35vw;
			transform: translate(0%, -40%);
			width: 13vw;
			height: 70vh;
			background-color: var(--purple);
			filter: blur(111px) opacity(0.2);
		}
		.right-top {
			position: absolute;
			top: 0;
			right: 10vw;
			transform: translate(0, 10%) rotate(45deg);
			width: 20vw;
			height: 70vh;
			background-color: #0b080e8a;
			filter: blur(150px) opacity(0.6);
		}
		.center-bottom {
			position: absolute;
			bottom: -10vh;
			right: 35vw;
			transform: rotate(-45deg);
			width: 10vw;
			height: 50vh;
			background-color: #00000087;
			filter: blur(81px) opacity(0.6);
		}
	}
}
